$color-1: #FFC12D;
$color-2: #F9B718;
$color-3: #A47503;
$color-4: #97E411;
$color-5: #7BC200;
$color-6: #558502;
$color-7: #FD7761;
$color-8: #F55C43;
$color-9: #D52E13;
$color-10: #6FD9FC;
$color-11: #47B4F6;
$color-12: #0787D4;
$color-13: #A39CDC;
$color-14: #8781BD;
$color-15: #5B568E;
$color-16: #2C3E50;
$color-17: #A1B1BC;
$color-18: #E2E6E7;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

main {
   width: 1170px;
   height: 510px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.box {
   padding: 42px 0 42px 49px;
   border: 1px solid $color-18;
   border-radius: 10px;
   display: flex;
   position: relative;

   &::before {
       content: "\f12a";
       font-family: "fontAwesome";
       font-size: 24px;
       background-color: $color-1;
       border: 7px solid $color-2;
       color: $color-3;
       border-radius: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-shrink: 0;
       height: 50px;
       width: 50px;
       margin-right: 28px;
   }

   div {
       font-family: "Lato";
       font-size: 14px;
       padding-right: 59px;

       h3 {
           line-height: 8px;
           font-weight: 900;
           color: $color-16;
           letter-spacing: 0.04px;
           margin-bottom: 16px
       }
       p {
           line-height: 24px;
           color: $color-17;
       }
   }
   a{
       position: absolute;
       top: 16px;
       right: 18px;

       &::before {
           content: "\f00d";
           font-family: "fontAwesome";
           font-size: 14px;
           color: #CFD2D3;
       }
   }

   &.check {
       &::before {
           content: "\f00c";
           background-color: $color-4;
           border: 7px solid $color-5;
           color: $color-6;
       }
   }

   &.cross {
       &::before{
           content: "\f00d";
           background-color: $color-7;
           border: 7px solid $color-8;
           color: $color-9;
       }
   }

   &.flash {
       &::before {
           content: "\f0e7";
           background-color: $color-10;
           border: 7px solid $color-11;
           color: $color-12;
       }
   }

   &.info {

       &::before {
           content: "\f129";
           background-color: $color-13;
           border: 7px solid $color-14;
           color: $color-15;
       }
   }
}
