*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.box{
    height: 148px;
    width: 567px;
    border: 1px solid #E2E6E7;
    padding: 45px 90px;
    display: flex;
    &::before{
        content: "\f12a";
        font-family: "fontAwesome";

    }
    div{
        font-family: "Lato";
        h3{
            font-family: "Lato Black";
            font-size: 14px;
            letter-spacing: 1px;
        }
        p{
            color: #A1B1BC;
        }
    }
}